/*Fill latest sermon column with image*/
.latestSermon-img{
    width: 100% !important;
    height: 100% !important;
  }

/*Fix for overflowing text on gmaps*/
.gm-style-iw {
    width: auto !important;
    max-width: 180px;
    text-align: center;
   }

   
/*Font color for gmap in footer*/
   #content-map-footer>h4{
    color: #2b2b2b;
   }
   #content-map-footer>p{
    color: #777;
   }

   /*Hide map type toggle and street view selection from footer map*/
   #map_canvas_footer>div>div> .gm-style-mtc , #map_canvas_footer>div>div>div>.gm-svpc{
       display: none;
   }   

   .text-center {
    text-align: center;
  }
  
  .image-center {
    display: block;
      margin-left: auto;
      margin-right: auto;
  }

  /*Styling for the person model*/
  .person-name{
    font-size: 24px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 24px;
  }
  
  .person-title{
    font-size: 16px;
    color: #a2a5a4;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  @media (min-width: 600px) {
  .logo{
    max-height: 170px;
  }
  }

  .bg-color-theme {
    background-color: #00003e;
  }


  
  /*Mobile menu colour*/
  .nestor-main-menu .navbar-toggle{
      border: 1px solid #00003e !important;
      background: #00003e !important;
      color: #fff !important;
  }


@media (min-width:768px) and (max-width:979px){
  .nestor-main-menu .navbar-toggle{
    display: inline;
    width: 250px;
    border-radius: 0;
    padding: 12px;
    float: none;
    margin: 0 0 30px;
    
  }
  .nav-collapse{
    margin-top: -55px !important;
  }
}

@media (max-width: 767px) {
    .nestor-main-menu .navbar-toggle {
      width: 100%;
      max-width: 250px;
    }

    .nav-collapse{
      margin-top: -55px !important;
    }
}

  /*Styling for sermon load more and search*/
  
.sermon-load-more, .sermon-search-button {
    padding: 2px 35px !important;
    border-color: #00003e;
    color: #00003e;
  }
  

  /*Change btn border color to fit theme*/
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    border-color: #00003e !important;
    background-color: #00003e !important;
  }
  
  .btn-primary{
    border-color: #00003e;
    color: #00003e;
  }

#votd{
  padding-top: 60px;
}

.header-custom-color{
  color: #00003e;
}

/* Site Text color if desired to be black*/

body{
  color: #000;
}

.subtext{
  font-size: 16px;
  font-style: italic;
}

.historyImg{
  margin: 10px;
  width: 60%;
  float: right;
  max-width: 600px;
}

.ministryImg{
  max-height: 400px;
}

@media (max-width: 767px) {
  .historyImg {
    width: 100%;
    float: none;
    margin: 0;
  }
}

@media (min-width: 780px) {
  .sm-br {
    display: none;
  }
}

.our-team-text{
  padding: 10px;
}

h4.ministry-text{
  line-height: 30px;
}



